<div>
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <label>Email</label>
            <input type="text" formControlName="username">
            <div class="error" *ngIf="(username.touched || submitted) && username.errors">
                <span *ngIf="username.errors?.['required']">Email is required.</span>
                <span *ngIf="username.errors?.['email']">Please enter a valid email address.</span>
            </div>

            <label>Password</label>
            <input type="password" formControlName="password">
            <div class="error" *ngIf="(password.touched || submitted) && password.errors">
                <span *ngIf="password.errors?.['required']">Password is required.</span>
            </div>

            <button type="submit">Login</button>
        </div>
    </form>
</div>
